.flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex_column {
    flex-direction: column;
}

